.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80vw;
  height: 80vh;

  padding: 2rem;
  color: #fff;
  /* border: 1px solid black; */
}

.content h1 {
  font-size: 4rem;
  border-bottom: 3px solid red;
  width: 40vw;
}

.form {
  width: 50%;
  height: 100%;
  margin-top: 2rem;
  transform: translateX(50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  /* border: 1px solid black; */
}

.form label {
  color: white;
}

.form input {
  font-size: 16px;
  padding: 5px 0px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  margin-top: 1rem;
  color: black;
  font-weight: 700;
}

.form button {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
  padding: 10px 15px;
  width: 50%;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #fff;
}

.form button:hover {
  color: rgb(230, 0, 0);
}

.navLink {
  text-decoration: none;
  color: rgb(230, 0, 0);
}